{% extends 'partials/base.html' %}
{% load static%}
{% block content %}

<body>

<div class="main-wrapper">
            <!-- inner hero section start -->
<section class="inner-hero bg_img" style="background-image: url('{ static 'assets/images/frontend/bread_crumb/6371e6fb120661668409083.jpg'}');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2 class="title text-white">About</h2>
                <ul class="page-breadcrumb justify-content-center">
                    <li><a href="{% url 'core:index' %}">Home</a></li>
                    <li>About</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- inner hero section end -->    
                            <!-- about section start -->
<section class="pt-100 pb-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-8 col-lg-9">
          <div class="section-header text-center wow fadeInUp" data-wow-duration="0.5" data-wow-delay="0.3s">
            <h2 class="section-title">
                Over 52,000 traders worldwide trust SignalLab - now it&#039;s your turn
            </h2>
          </div>
        </div>
      </div><!-- row end -->
      <div class="row gy-4 align-items-center justify-content-between">
        <div class="col-lg-5 text-lg-start text-center">
          <div class="about-thumb wow fadeInLeft" data-wow-duration="0.5" data-wow-delay="0.5s">
            <img src="{% static 'assets/images/frontend/about/61333db1010691630748081.png' %}" alt="image">
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight text-lg-start text-center" data-wow-duration="0.5" data-wow-delay="0.5s">
          <h2 class="mb-2">
            Grasp the markets with SignalLab
          </h2>
          <p>
            Nostrum facilis voluptatum voluptates sunt facere, distinctio ullam aspernatur cumque autem a esse non unde, nemo iusto! Voluptas molestiae velit dolores blanditiis.
          </p>
          <ul class="cmn-list about-list mt-4">
                            <li>Share your own trade ideas and analasis with traders inside of the Trading Room</li>
                            <li>Join daily live streams and review Forex currency pairs in realtime</li>
                            <li>Recieve market analasis from well-seasoned Forex mentors.</li>
                      </ul>
          <a href="user/register.html" class="btn btn--base style--two mt-5">Get Started
            <i class="las la-long-arrow-alt-right me-0 ms-2"></i>
          </a>
        </div>
      </div>
    </div>
</section>
<!-- about section end -->
                    <!-- why choose section start -->
<section class="pt-100 pb-100 dark--overlay-two bg_img  bg-attachment-fixed" style="background-image: url('assets/images/frontend/why_choose_us/63789f538a5791668849491.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="section-header text-center wow fadeInUp" data-wow-duration="0.5" data-wow-delay="0.3s">
                    <div class="section-subtitle">Why CHoose Us</div>
                    <h2 class="section-title text-white">
                        Everything you need to fast track your trading
                    </h2>
                </div>
            </div>
        </div><!-- row end -->
        <div class="row gy-4 justify-content-center">
                            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="0.5" data-wow-delay="0.5s">
                    <div class="choose-card">
                        <div class="choose-card__icon text-white">
                            <i class="las la-chart-line"></i>                        </div>
                        <h3 class="choose-card__title text-white">
                            Top technical analysis
                        </h3>
                        <div class="choose-card__content">
                            <p>
                                Ullam minus nihil delectus, voluptatum ab sunt maxi harum possimus sit ea quasi quas non aliquam deb velit atque explicabo tenetur. Ipsam molestiae culpa.
                            </p>
                        </div>
                    </div><!-- choose-card end -->
                </div>
                            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="0.5" data-wow-delay="0.5s">
                    <div class="choose-card">
                        <div class="choose-card__icon text-white">
                            <i class="fas fa-rocket"></i>                        </div>
                        <h3 class="choose-card__title text-white">
                            High performance
                        </h3>
                        <div class="choose-card__content">
                            <p>
                                Ullam minus nihil delectus, voluptatum ab sunt maxi harum possimus sit ea quasi quas non aliquam deb velit atque explicabo tenetur. Ipsam molestiae culpa.
                            </p>
                        </div>
                    </div><!-- choose-card end -->
                </div>
                            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="0.5" data-wow-delay="0.5s">
                    <div class="choose-card">
                        <div class="choose-card__icon text-white">
                            <i class="las la-headphones-alt"></i>                        </div>
                        <h3 class="choose-card__title text-white">
                            Full expert support
                        </h3>
                        <div class="choose-card__content">
                            <p>
                                Ullam minus nihil delectus, voluptatum ab sunt maxi harum possimus sit ea quasi quas non aliquam deb velit atque explicabo tenetur. Ipsam molestiae culpa.
                            </p>
                        </div>
                    </div><!-- choose-card end -->
                </div>
                    </div>
    </div>
</section>
<!-- why choose section end -->
                    <!-- overview section start -->
<section class="pt-100 pb-100 section--bg">
<div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="section-header text-center wow fadeInUp" data-wow-duration="0.5" data-wow-delay="0.3s">
        <div class="section-subtitle">Company Growth</div>
        <h2 class="section-title">Our Company Growth</h2>
        </div>
    </div>
    </div><!-- row end -->
    <div class="row gy-5 justify-content-center">
                    <div class="col-lg-3 col-sm-6 overview-item wow fadeInUp" data-wow-duration="0.5" data-wow-delay="0.5s">
                <div class="overview-card">
                <div class="overview-card__icon">
                    <i class="fas fa-award"></i>                </div>
                <div class="overview-card__content">
                    <h4 class="overview-card__number text-white">
                        3-7
                    </h4>
                    <p class="overview-card__caption">
                        Award
                    </p>
                </div>
                </div>
            </div>
                    <div class="col-lg-3 col-sm-6 overview-item wow fadeInUp" data-wow-duration="0.5" data-wow-delay="0.5s">
                <div class="overview-card">
                <div class="overview-card__icon">
                    <i class="las la-user"></i>                </div>
                <div class="overview-card__content">
                    <h4 class="overview-card__number text-white">
                        450
                    </h4>
                    <p class="overview-card__caption">
                        Pips - Monthly Target
                    </p>
                </div>
                </div>
            </div>
                    <div class="col-lg-3 col-sm-6 overview-item wow fadeInUp" data-wow-duration="0.5" data-wow-delay="0.5s">
                <div class="overview-card">
                <div class="overview-card__icon">
                    <i class="fas fa-business-time"></i>                </div>
                <div class="overview-card__content">
                    <h4 class="overview-card__number text-white">
                        5+
                    </h4>
                    <p class="overview-card__caption">
                        Years Experience
                    </p>
                </div>
                </div>
            </div>
                    <div class="col-lg-3 col-sm-6 overview-item wow fadeInUp" data-wow-duration="0.5" data-wow-delay="0.5s">
                <div class="overview-card">
                <div class="overview-card__icon">
                    <i class="las la-headphones-alt"></i>                </div>
                <div class="overview-card__content">
                    <h4 class="overview-card__number text-white">
                        24/7
                    </h4>
                    <p class="overview-card__caption">
                        Support
                    </p>
                </div>
                </div>
            </div>
            </div>
</div>
</section>
<!-- overview section end -->
                    <!-- testimonial section start -->
<section class="pt-100 pb-100 dark--overlay-two bg_img  bg-attachment-fixed overflow-hidden"
    style="background-image: url('assets/images/frontend/testimonial/63789eeb4611f1668849387.jpg');">
    <div class="container">
        <div class="row justify-content-center gy-5">
            <div class="col-xl-4 col-lg-8 text-xl-start text-center wow fadeInUp" data-wow-duration="0.5"
                data-wow-delay="0.3s">
                <h2 class="section-title text-white">We are only as good as our clients say we are</h2>
                <p class="mt-3 text-white-75">Saepe ullam mollitia quaerat, aut atque error labore voluptates ad consectetur doloribus dolore laudantium ab optio nemo impedit numquam sed unde eius vero</p>
            </div>
            <div class="col-xl-8 ps-xl-5 wow fadeInUp" data-wow-duration="0.5" data-wow-delay="0.5s">
                <div class="testimonial-slider">
                
                                            <div class="single-slide">
                            <div class="testimonial-card">
                                <div class="testimonial-card__thumb">
                                    <img src="{% static 'assets/images/frontend/testimonial/6371e4fd287bd1668408573.jpg' %}" alt="image">
                                </div>
                                <div class="testimonial-card__content">
                                    <p class="testimonial-card__description">
                                        Consectetur, saepe nesciunt! Quaerat tenetur adipisci voluptatum incidunt illum rerum exercitationem animit.
                                    </p>
                                    <h6 class="mt-3 text-white">Afafinis Julrahul</h6>
                                    <div class="ratings">
                                                                                    <i class="las la-star"></i>
                                                                                    <i class="las la-star"></i>
                                                                                    <i class="las la-star"></i>
                                                                                    <i class="las la-star"></i>
                                                                                    <i class="las la-star"></i>
                                                                            </div>
                                </div>
                            </div>
                        </div><!-- single-slide end -->
                                            <div class="single-slide">
                            <div class="testimonial-card">
                                <div class="testimonial-card__thumb">
                                    <img src="{% static 'assets/images/frontend/testimonial/6371e529aa33c1668408617.jpg' %}" alt="image">
                                </div>
                                <div class="testimonial-card__content">
                                    <p class="testimonial-card__description">
                                        Consectetur, saepe nesciunt! Quaerat tenetur adipisci voluptatum incidunt illum rerum exercitationem animit.
                                    </p>
                                    <h6 class="mt-3 text-white">Sayara Saniya</h6>
                                    <div class="ratings">
                                                                                    <i class="las la-star"></i>
                                                                                    <i class="las la-star"></i>
                                                                                    <i class="las la-star"></i>
                                                                                    <i class="las la-star"></i>
                                                                                    <i class="las la-star"></i>
                                                                            </div>
                                </div>
                            </div>
                        </div><!-- single-slide end -->
                                            <div class="single-slide">
                            <div class="testimonial-card">
                                <div class="testimonial-card__thumb">
                                    <img src="{% static 'assets/images/frontend/testimonial/6371e53b868491668408635.jpg' %}" alt="image">
                                </div>
                                <div class="testimonial-card__content">
                                    <p class="testimonial-card__description">
                                        
                                    </p>
                                    <h6 class="mt-3 text-white">Jesmin Sara</h6>
                                    <div class="ratings">
                                                                                    <i class="las la-star"></i>
                                                                                    <i class="las la-star"></i>
                                                                                    <i class="las la-star"></i>
                                                                            </div>
                                </div>
                            </div>
                        </div><!-- single-slide end -->
                                    </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial section end -->



                    <!-- faq section start -->
<section class="pt-100 pb-100">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="section-header text-center wow fadeInUp" data-wow-duration="0.5" data-wow-delay="0.3s">
            <h2 class="section-title">Frequently Asked Questions</h2>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum fuga eius expedita, nulla quos blanditiis nobis laboriosam. Natus cum eum fuga praesentium.</p>
            </div>
        </div>
        </div><!-- row end -->
        <div class="accordion custom--accordion wow fadeInUp" data-wow-duration="0.5" data-wow-delay="0.5s" id="faqAccordion">
        <div class="row g-3">
                    <div class="col-lg-6">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="h-152">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-152" aria-expanded="false" aria-controls="c-152">
                        Tenetur et facilis, quia veritatis temporibus.
                    </button>
                    </h2>
                    <div id="c-152" class="accordion-collapse collapse" aria-labelledby="h-152" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque perspiciatis harum voluptatibus natus alias nesciunt eius similique tenetur corporis fuga eligendi in enim quisquam dolor voluptates nihil obcaecati pariatur commodi facilis, officiis nobis porro eum architecto! Delectus ut voluptatibus voluptatem, aliquam tenetur et facilis, quia veritatis temporibus, ex magni soluta.</p>
                    </div>
                    </div>
                </div><!-- accordion-item-->
            </div>
                    <div class="col-lg-6">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="h-153">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-153" aria-expanded="false" aria-controls="c-153">
                        Lorem ipsum dolor sit amet consectetur
                    </button>
                    </h2>
                    <div id="c-153" class="accordion-collapse collapse" aria-labelledby="h-153" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque perspiciatis harum voluptatibus natus alias nesciunt eius similique tenetur corporis fuga eligendi in enim quisquam dolor voluptates nihil obcaecati pariatur commodi facilis, officiis nobis porro eum architecto! Delectus ut voluptatibus voluptatem, aliquam tenetur et facilis, quia veritatis temporibus, ex magni soluta.</p>
                    </div>
                    </div>
                </div><!-- accordion-item-->
            </div>
                    <div class="col-lg-6">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="h-154">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-154" aria-expanded="false" aria-controls="c-154">
                        It is a long established fact that a reader will be distracted
                    </button>
                    </h2>
                    <div id="c-154" class="accordion-collapse collapse" aria-labelledby="h-154" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <p>e readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &#039;lorem ipsum&#039; will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by</p>
                    </div>
                    </div>
                </div><!-- accordion-item-->
            </div>
                    <div class="col-lg-6">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="h-155">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-155" aria-expanded="false" aria-controls="c-155">
                        Contrary to popular belief, Lorem Ipsum is not simply random text.
                    </button>
                    </h2>
                    <div id="c-155" class="accordion-collapse collapse" aria-labelledby="h-155" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#039;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure</p>
                    </div>
                    </div>
                </div><!-- accordion-item-->
            </div>
                    <div class="col-lg-6">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="h-156">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-156" aria-expanded="false" aria-controls="c-156">
                        Why do we use it?
                    </button>
                    </h2>
                    <div id="c-156" class="accordion-collapse collapse" aria-labelledby="h-156" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &#039;Content here, content here&#039;, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for &#039;lorem ipsum&#039; will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    </div>
                    </div>
                </div><!-- accordion-item-->
            </div>
                    <div class="col-lg-6">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="h-157">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-157" aria-expanded="false" aria-controls="c-157">
                        Where does it come from?
                    </button>
                    </h2>
                    <div id="c-157" class="accordion-collapse collapse" aria-labelledby="h-157" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of &quot;de Finibus Bonorum et Malorum&quot; (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, &quot;Lorem ipsum dolor sit amet..&quot;, comes from a line in section 1.10.32</p>
                    </div>
                    </div>
                </div><!-- accordion-item-->
            </div>
                    <div class="col-lg-6">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="h-158">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-158" aria-expanded="false" aria-controls="c-158">
                        Where can I get some?
                    </button>
                    </h2>
                    <div id="c-158" class="accordion-collapse collapse" aria-labelledby="h-158" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#039;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#039;t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words et</p>
                    </div>
                    </div>
                </div><!-- accordion-item-->
            </div>
                    <div class="col-lg-6">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="h-159">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-159" aria-expanded="false" aria-controls="c-159">
                        There is a set of mock banners available here
                    </button>
                    </h2>
                    <div id="c-159" class="accordion-collapse collapse" aria-labelledby="h-159" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        <p>&quot;Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugi</p>
                    </div>
                    </div>
                </div><!-- accordion-item-->
            </div>
                </div>
        </div>
    </div>
</section>
<!-- faq section end -->
                    <!-- cta section start -->
<section class="pt-50 pb-50 dark--overlay-two bg_img  bg-attachment-fixed" style="background-image: url('assets/images/frontend/cta/63887eb77f3601669889719.jpg');">
    <div class="container">
        <div class="row gy-4 justify-content-between align-items-center">
        <div class="col-lg-6 text-lg-start text-center wow fadeInUp" data-wow-duration="0.5" data-wow-delay="0.3s">
            <h2 class="section-title text-white">
                Are you ready to take your trading to the next level
            </h2>
        </div>
        <div class="col-lg-4 text-lg-start text-center text-lg-end wow fadeInUp" data-wow-duration="0.5" data-wow-delay="0.5s">
            <a href="user/register.html" class="btn btn--base">
                Join with Us
            </a>
        </div>
        </div>
    </div>
</section>
<!-- cta section end -->
            
</div><!-- main-wrapper end -->


    <!-- cookies dark version start -->
    <!-- <div class="cookies-card text-center hide">
        <div class="cookies-card__icon bg--base">
            <i class="las la-cookie-bite"></i>
        </div>
        <p class="mt-4 cookies-card__content">
            We may use cookies or any other tracking technologies when you visit our website, including any other media form, mobile website, or mobile application related or connected to help customize the Site and improve your experience. <a href="cookie-policy.html" target="_blank">learn more</a>
        </p>
        <div class="cookies-card__btn mt-4">
            <a href="javascript:void(0)" class="btn btn--base w-100 policy">Allow</a>
        </div>
    </div> -->
  <!-- cookies dark version end -->
  {% endblock content %}
